@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1 class="text-black font-monospace text-center">Hotel Booking</h1>

<form method="get">
    <div class="row">
        <div class="form-group col">
            <label for="Type">Type:</label>
            <select class="form-control" id="Type" asp-for="Type">
                <option value="Single">Single</option>
                <option value="Double">Double</option>
            </select>
        </div>
        <div class="form-group col">
            <label for="StartDate">Start Date:</label>
            <input type="date" class="form-control" id="StartDate" asp-for="StartDate" />
        </div>
        <div class="form-group col">
            <label for="EndDate" >End Date:</label>
            <input type="date" class="form-control" class="form-control" id="EndDate" asp-for="EndDate" />
        </div>
    </div>
    <button type="submit" class="btn btn-primary align-center mt-2">Show available rooms</button>

    @if (!String.IsNullOrEmpty(Model.ErrorMessage))
    {
        <div class="alert alert-warning mt-2">
                @Model.ErrorMessage
        </div>
    }
</form>



<br/>

@if (Model.Rooms.Any())
{
    <form method="post">
        <input type="hidden" value="@Model.StartDate" asp-for="StartDate" />
        <input type="hidden" value="@Model.EndDate" asp-for="EndDate" />

        <div class="row">
            @foreach (var room in Model.Rooms)
            {
                <div class="col-md-3">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">Room @room.Number</h5>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <input type="hidden" value="@room.Number" asp-for="SelectedRoomNumber"/>
                                    <button type="submit" class="btn btn-sm btn-outline-secondary">Book Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </form>
}




